---
// Import the layout and config
import Layout from "../layouts/Layout.astro";
import config from "../config/config.ts";

const og = {
  ogTitle: "Cloud Nord",
  ogDescription:
    "Cloud Nord est la conférence tech consacrée au Cloud et au DevOps.",
  ogImage: "https://devlille.fr/img/logo-full.svg",
};
---

<Layout title="Cloud Nord" currSection="index" og={og}>
  <div class="group">
    <div class="presentation">
      <p>
        <strong
          >Cloud Nord revient en 2025 dans un nouveau format !
        </strong>
        <p>
          Cette année, nous changeons de lieu, rendez-vous à l'Université Catholique de Lille !
          2&nbsp;magnifiques amphithéâtres pour vivre au mieux la conférence.
        </p>
        <p>
        </p>
        <p class="register">
          <a
            rel="noreferrer noopener"
            target="_blank"
            href={config.billetwebUrl + config.edition}
          >
            Prenez votre place!
          </a>
        </p>
        <!--p class="register">
          <a
            rel="noreferrer noopener"
            target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLScoYCZmUCC4ayhc2KormzAmtuhUGv9oR5FZdWViolJ5cfVrAQ/viewform?usp=sf_link"
          >
            Participez au Ch'ti Tremplin!
          </a>
        </p-->
        {
          config.enabled.earlyBirds && (
            <p class="register">
              <a
                rel="noreferrer noopener"
                target="_blank"
                href={config.billetwebUrl + config.edition}
              >
                Prenez votre place Early Bird!
              </a>
            </p>
          )
        }
      </p>
    </div>
    <div class="cfp">
      <p>
        <a href={config.cfpUrl + config.edition} lang="en"> Call for Paper</a>
        ouvert du
        {config.cfpStartedDate} jusqu'au {config.cfpEndedDate}
        {config.edition}!
      </p>
    </div>

    <div class="stats">
      <h2 class="no-display">
        Cloud Nord {config.edition} en chiffres
      </h2>
      <ul>
        <li>
          <strong>{config.numberOfPeople}</strong>
          <span>participants</span>
        </li>
        <li>
          <strong>{config.numberOfTalks}</strong>
          <span>conférences</span>
        </li>
        <li>
          <strong>{config.numberOfTraks}</strong>
          <span lang="en">tracks</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="with-news">
    <div class="fixed">
      <div class="decor venue">
        <h2>Un nouveau lieu : <strong>La catho</strong></h2>
        <div class="content">
          <p class="illustration">
            <picture>
              <source srcset="img/lgp.avif" type="image/avif" />
              <source srcset="img/lgp.webp" type="image/webp" />
              <img
                loading="lazy"
                src="/img/lgp.jpg"
                alt="Une salle du Lille Grand Palais"
              />
            </picture>
          </p>
          <div>
            <p>
              La catho nous accueille avec 2 magnifiques amphithéâtres pouvant accueillir chacun plus de 200 personnes.
            </p>
            <p class="read-more">
              <a
                rel="noreferrer noopener"
                target="_blank"
                href="https://maps.app.goo.gl/LqwrkbpHuvL7zEve9"
              >
                Comment y aller</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="decor">
        <h2>Une conférence accessible</h2>
        <div class="content">
          <p class="illustration">
            <picture>
              <source srcset="img/accessibilite.avif" type="image/avif" />
              <source srcset="img/accessibilite.webp" type="image/webp" />
              <img
                loading="lazy"
                src="/img/accessibilite.jpg"
                alt="Salle du Grand Palais avec une retranscription en live de la conférence"
              />
            </picture>
          </p>
          <div>
            <p>
              <strong class="stressed">Toutes</strong> nos conférences sont sous-titrées
              grâce au service du <a
                rel="noreferrer noopener"
                target="_blank"
                href="https://www.lemessageur.com/"
              >
                Messageur
                <img
                  src="/img/external-link.svg"
                  alt="Ouvre nouvel onglet"
                  width="14"
                  height="14"
                  loading="lazy"
                /></a
              >. Le lieu est également entièrement accessible aux personnes à
              mobilité réduite. De plus, une salle de repos est à disposition
              pour celles et ceux qui, pour des raisons de santé, auraient
              besoin d'un espace calme.
            </p>
          </div>
        </div>
      </div>

      <div class="decor">
        <h2>Une conférence écoresponsable</h2>
        <div class="content">
          <p class="illustration">
            <picture>
              <source srcset="img/consignerie.avif" type="image/avif" />
              <source srcset="img/consignerie.webp" type="image/webp" />
              <img
                loading="lazy"
                src="/img/consignerie.jpg"
                alt="Salle du Grand Palais avec une retranscription en live de la conférence"
              />
            </picture>
          </p>
          <div>
            <p>
              Engagés dans une démarche <strong class="stressed">
                écoresponsable</strong
              >, nous faisons notre maximum pour faire de notre conférence un
              événement <strong class="stressed">zéro déchet</strong>. Nous
              réduisons au maximum les déchets en favorisant la réutilisation et
              en évitant le gaspillage. En collaboration avec <a
                rel="noreferrer noopener"
                target="_blank"
                href="https://consignerie.com/"
              >
                La Consignerie <img
                  src="/img/external-link.svg"
                  alt="Ouvre nouvel onglet"
                  width="14"
                  height="14"
                  loading="lazy"
                />
              </a>, nous vous proposons des repas préparés à partir de produits
              locaux, servis dans des contenants consignés, ainsi que des
              boissons également présentées dans des bouteilles en verre
              consignées.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</Layout>
